.buttonNextPage {
  margin: 0 auto;
}

.next-page-button {
  position: absolute;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: var(--color-peach-darker);
  color: #ffffff;
  width: 193px;
  height: 40px;
  border: none;
}

.icon-arrow {
  position: absolute;
  width: 20px;
  height: 18px;
}
