.next-page-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--color-peach-darker);
  color: #ffffff;
  width: 193px;
  height: 40px;
  margin: 0 auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-arrow {
  width: 20px;
  height: 18px;
  margin-left: 7px;
}
