.buttonMoreView {
  margin: 0 auto;
}

.more-view-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: var(--color-peach-darker);
  color: #FFFFFF;
  padding: 0.2rem;
  border-radius: 16px;
  width: 144px;
  height: 32px;
  margin-bottom: 24px;
  border: none;
}
