.hero {
  background-image: url(../../assets/Rectangle_1.png);
  background-repeat: cover;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 38px;
  font-family: semibold;
  line-height: 45.6px;
}

.subtitle {
  /* margin-left: 200px; */
}
