.hero {
  background-image: url(../../assets/Rectangle_1.png);
  background-position: center center;
  background-size: cover;
  padding: 3em 0;
}

.hero-content {
}

.title {
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
}
