.hero {
  background-image: url(../../assets/Rectangle_1.png);
  background-repeat: cover;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
}

.subtitle {
  font-weight: 300;
}
