.home-card {
  width: 90%;
  max-width: 320px;
  margin: 1.5em 0;
  padding: 24px;
  border: 1px solid var(--color-peach-darker);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.product {
  position: relative;
}

.product-image {
  width: 100%;
  margin-bottom: 24px;
  height: 200px;
}

.product-tag {
  color: white;
  font-weight: 600;
  background-color: var(--color-purple-terciary);
  padding: 0.25em 0.85rem;
  position: absolute;
  right: -7px;
  top: -15px;
}

.product-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25.2px;
  margin-bottom: 16px;
}

.product-location {
  font-weight: 600;
  font-size: 12px;
  line-height: 14.63px;
}

.announcement-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.announcement {
  display: flex;
  flex-direction: column;
}

.tag-area-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.category-tag {
  font-weight: 600;
  font-size: 12px;
  line-height: 14.63px;
  color: var(--color-peach-darkest);
  border: 1px solid rgba(102, 51, 30, 0.6);
  border-radius: 10px;
  margin: 12px 0;
  width: 233px;
  padding: 0.3em 0;
  text-align: center;
  display: block;
}

.delivery-tag {
  display: block;
  font-weight: 300;
  background-color: var(--color-cyan-terciary);
  padding: 0.15em 0.65em;
  max-width: 100%;
  min-width: 150px;
  text-align: center;
}

.product-tag,
.delivery-tag {
  font-size: 12px;
  line-height: 14.63px;
  width: max-content;
  border-radius: 10px;
  margin-bottom: 15px;
}

.see-details-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 144px;
  margin: 10px auto 0;
  padding: 8px 0;
  color: white;
  background-color: var(--color-peach-secondary);
  border: none;
  text-align: center;
  text-decoration: none;
}
