.new-donation-content {
  display: block;
  width: 100%;
}

.form-publish-ad {
  display: flex;
  justify-content: space-between;
}

.new-donation {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.new-donation-images-wrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.new-donation-images-wrapper img {
  max-width: 100%;
}

.new-donation-images-wrapper img:first-of-type {
  max-width: 440px;
}

.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.input-label {
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  color: var(--color-dark-primary);
  margin-bottom: 12px;
}

.input-donating {
  width: 100%;
}

.input-select {
  background-color: #FFFFFF;
}

.input-donating,
.input-city-donating {
  height: 40px;
  border: 0.5px solid var(--color-peach-darkest);
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  color: #b0b0b0;
  border-bottom: 2px solid var(--color-peach-darker);
  padding-left: 8px;
  margin-bottom: 10px;
}

.input-donating::placeholder {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: #B0B0B0;
}

.input-footer {
  display: flex;
  justify-content: space-between;
}

.donation-description {
  color: #616161;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.use-conditions {
  display: flex;
  flex-direction: column;
}

.buttons-wrapper {
  display: flex;
}

.span-number-donating {
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  line-height: 15px;
  color: var(--color-dark-primary);
}

.input-radio:checked,
.input-radio:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.input-radio-label {
  width: 132px;
  color: var(--color-peach-secondary);
  background-color: #FFFFFF;
  text-align: center;
  line-height: 150%;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid var(--color-peach-secondary);
  border-radius: 20px;
}

.input-radio:checked + .input-radio-label {
  background-color: red;
}

.location-wrapper {
  display: flex;
  justify-content: space-between;
}

.uf-wrapper,
.city-wrapper {
  display: flex;
  flex-direction: column;
}

.state,
.city {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-dark-primary);
}

.input-state-donating {
  border-bottom: 2px solid #66331e;
  background: #ffffff;
  border: 0.5px solid #5e3525;
  width: 160px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grayscale);
}

.input-city-donating {
  width: 368px;
}

.submit-form {
  font-weight: 500;
  font-size: 21px;
  line-height: 25.2px;
  display: block;
  width: 100%;
  border: none;
  padding: 1em 0;
  margin-bottom: 70px;
  color: #FFFFFF;
  background-color: #616161;
}
