.input-search {
  width: 448px;
  height: 36px;
  border-radius: 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-dark-primary);
  background: #ffffff;
  padding: 16px;
  border: 1px solid #5e3525;
}

input {
  background: transparent;
  width: 448px;
  height: 36px;
  border: 0px;
}
