.footer {
  background-color: #ead6cc;
  padding: 3em 0;
  height: 102px;
  max-width: 1440px;
}

.title1 {
  font-weight: 300px;
}

.title2 {
  color: #4c4c4c;
  line-height: 15px;
  font-weight: 600px;
}

.title1,
.title2 {
  font-size: 12px;
  text-align: center;
}
