:root {
  --color-peach-primary: #e59c7f;
  --color-peach-secondary: #cc7452;
  --color-peach-terciary: #FFBFA6;
  --color-peach-darker: #66331e;
  --color-peach-darkest: #5e3525;
  --color-cyan-secondary: #4CBFA0;
  --color-cyan-terciary: #A8E0D1;
  --color-purple-secondary: #2B0067;
  --color-purple-terciary: #A08EC9;
  --color-dark-primary: #4C4C4C;
  --color-cyan-terciary: #a8e0d1;
  --color-purple-terciary: #a08ec9;
  --color-dark-primary: #4c4c4c;
  --color-dark-secondary: #161616;
  --color-ligth-secondary: #ead6cc;
  --color-grayscale: #616161;
  --text-color: #303030;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

.container {
  max-width: 1136px;
  width: 90%;
  margin: 0 auto;
}
