:root {
  --color-peach-darker: #66331E;
  --color-peach-secondary: #CC7452;
  --color-cyan-terciary: #A8E0D1;
  --color-purple-terciary: #A08EC9;
  --color-dark-primary: #4C4C4C;
  --text-color: #303030;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
